.wp-block.text-card {
	max-width: 100%;
}

.light-grey .text-card {
	background: white;
}

.text-card {
	width: 100%;
	text-align: left;
	position: relative;
	margin-bottom: 0;
	text-decoration: none;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
	}
}

.text-card .block-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.text-card .block-wrapper .block-content {
	display: flex;
	flex-flow: column nowrap;
}


.text-card .content-card p:last-of-type {
	margin-bottom: 0;
}

.text-card .wp-block-buttons {
	margin-top: auto;
}

.text-card .img-container {
	width: 100%;
}

.text-card h1,
.text-card h2,
.text-card h3,
.text-card h4,
.text-card h5,
.text-card h6 {
	margin-top: 10px;
	margin-bottom: 0;
	text-transform: none;
	font-family: $font-head-2;
	color: $bg-color-7;
	font-weight: 700;
	@media screen and (min-width: $small-width) {
		margin-top: 15px;
	}
}

.text-card h3 { 
	font-size: 18px;
	line-height: 27px;
	margin-top: 20px;
	letter-spacing: 0.25px;
	@media screen and (min-width: $small-width) {
		font-size: 22px;
		line-height: 31px;
		margin-top: 25px;
	}
}

.text-card p {
	color: $bg-color-7;
	font-family: $font-body;
}

.text-card p:first-of-type {
	margin-top: 10px;
	@media screen and (min-width: $small-width) {
		margin-top: 15px;
	}
}

.text-card.width-100 {
	grid-column-start: 1;
	grid-column-end: 3;
}

.columns-3 .text-card.width-100 {
	grid-column-start: 1;
	grid-column-end: 4;
}

.text-card .block-buttons {
	margin-top: 25px;
	@media screen and (min-width: $small-width) {
		margin-top: 35px;
	}
}

.text-card .icon-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	left: 0;
	top: 0;
}

.text-card .icon-icon {
	width: 100%;	
	height: 90px;
	border:none;
	max-width: 90px;
	border-radius: 200px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: $small-width) {
		height: 130px;
		max-width: 130px;
	}
}

.text-card .upload-icon,
.text-card .icon-icon svg {
	max-width: 56px;
	width: 100%;
	max-height: 50px;
	height: auto;
}

// .text-card .icon-icon lord-icon path {
// 	fill: rgb(0, 143, 160) !important;
// 	color: rgb(0, 143, 160) !important;
// }


.section-block.green .text-card .icon-icon,
.section-block.lime-green .text-card .icon-icon {
	color: white;
}

.section-block.green .text-card .icon-icon svg,
.section-block.lime-green .text-card .icon-icon svg {
	color: white;
}