.wp-block.columns-list {
	max-width: 100%;
	width: 100%;
}

.columns-list h3 {
	margin-bottom: 15px;
}

.columns-list {
	width: 100%;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	@media screen and (min-width: $small-width) {
		padding-top: 6.75rem;
		padding-bottom: 6.75rem;
	}
}

.columns-list .block-wrapper {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	@media screen and (min-width: $small-width) {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}
}

.columns-list > .block-wrapper > .block-editor-inner-blocks {
	width: 100%;
}

.columns-list .header-title, 
.columns-list .wp-block-buttons, 
.columns-list ul, {
	width: 100%;
	text-align: center;
}

.columns-list .header-title {
	text-transform: none;
	@media screen and (min-width: $small-width) {
		margin-bottom: 2.5rem;
	}
}
.editor-styles-wrapper .columns-list .wp-block-buttons,
.columns-list .wp-block-buttons {
	justify-content: center;
	margin-top: 1.875rem;
	@media screen and (min-width: $small-width) {
		margin-top: 3.125rem;
	}
}

.editor-styles-wrapper .columns-list ul,
.editor-styles-wrapper .columns-list ul li,
.entry-content .columns-list ul,
.entry-content .columns-list ul li {
	padding-left: 0;
}

.editor-styles-wrapper .columns-list ul {
	max-width: 100%;
}

.columns-list ul {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
}

.editor-styles-wrapper .columns-list ul li a,
.editor-styles-wrapper .columns-list ul li,
.entry-content .columns-list ul li,
.entry-content .columns-list ul li a, {
	flex: 0 50%;
	font-weight: 400;
	color: $bg-color-7;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 30px;
	list-style-type: none;
	text-decoration: none;
	@media screen and (min-width: $small-width) {
		margin-bottom: 15px;
		flex: 0 33.333333%;
		font-size: 20px;
		line-height: 32px;
	}
}