.wp-block.image-columns {
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
}

.image-columns {
	width: 100%;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
	@media screen and (min-width: $small-width) {
		padding-top: 6.75rem;
		padding-bottom: 6.75rem;
	}
}

.image-columns + .image-columns {
	padding-top: 0;
	@media screen and (min-width: $small-width) {
		padding-top: 0;
	}
}

.image-columns .block-wrapper {
	max-width: 1050px;
	width: 100%;
	margin: 0 auto;
	@media screen and (min-width: $small-width) {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}
}

.image-columns > .block-wrapper > .block-content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.image-columns .faq:last-of-type {
	margin-bottom: 0;
}

.image-columns .content-columns {
	width: 100%;
	box-sizing: border-box;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		width: 62.5%;
		padding-left: 2.5rem;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		width: 55%;
		padding-left: 2.5rem;
	}
	@media screen and (min-width: $med-width) {
		width: 50%;
		padding-left: 2.5rem;
	}
}

.image-columns .image-col {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		width: calc(37.5% - 15px);
		max-width: calc(37.5% - 15px);
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		width: calc(45% - 20px);
		max-width: calc(45% - 20px);
	}
	@media screen and (min-width: $med-width) {
		width: calc(50% - 36px);
		max-width: calc(50% - 36px);
	}
}

.img-container img {
	display: block;
	margin: 0 auto;
	position: relative;
}

.image-columns.img-right .content-columns {
	margin-top: 25px;
	@media screen and (min-width: $small-width) {
		padding-left: 0;
		padding-right: 1.25rem;
		margin-top: 0;
	}
}

.image-columns.img-right.no-ds .content-columns {
	@media screen and (min-width: $small-width) {
		padding-left: 1.25rem;
	}
}

.image-columns .image-col {
	position: relative;
}

.image-columns.img-right .image-col {
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		margin-right: 15px;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		margin-right: 20px;
	}
	@media screen and (min-width: $med-width) {
		margin-right: 36px;
	}
}


.image-columns.img-right.animate-complete .image-col:before {
	left: initial;
	opacity: 1;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		right: -15px;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		right: -20px;
	}
	@media screen and (min-width: $med-width) {
		right: -34px;
	}
}

.image-columns.img-right .image-col:before {
	content: "";
	position: absolute;
	background: $light-blue;
	height: 100%;
	opacity: 0;
	transition-duration: 0.75s;
	transition-property: left, right, opacity;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		width: 100%;
		top: 15px;
		right: 0;
		left: inherit;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		width: 100%;
		top: 20px;
		right: 0;
		left: inherit;
	}
	@media screen and (min-width: $med-width) {
		width: 100%;
		top: 34px;
		left: inherit;
		right: 0;
	}
}

.image-columns.img-left .image-col:before {
	content: "";
	position: absolute;
	background: $light-blue;
	height: 100%;
	opacity: 0;
	transition-duration: 0.75s;
	transition-property: left, right, opacity;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		width: 100%;
		top: 15px;
		right: inherit;
		left: 0;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		width: 100%;
		top: 20px;
		right: inherit;
		left: 0;
	}
	@media screen and (min-width: $med-width) {
		width: 100%;
		top: 34px;
		left: 0;
		right: inherit;
	}
}

.image-columns.img-left.animate-complete .image-col:before {
	left: 0;
	opacity: 1;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		left: -15px;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		left: -20px;
	}
	@media screen and (min-width: $med-width) {
		left: -34px;
	}
}

.image-columns.no-ds .image-col {
	box-shadow: none;
}

.image-columns .image-comp {
	margin-bottom: 1.25rem;
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
	}
}

.image-columns .content-columns br {
	display: block;
	@media screen and (min-width: $xx-width) and (max-width: $small-width) {
		display: none;
	}
	@media screen and (min-width: $small-width) and (max-width: $small-med-width) {
		display: block;
	}
	@media screen and (min-width: $small-med-width) and (max-width: $med-small-width) {
		display: block;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		display: block;
	}
	@media screen and (min-width: $med-width) and (max-width: $max-cont-w) { 
		display: none;
	}
	@media screen and (min-width: $max-cont-w) {
		display: block;
	}
}

.image-columns li,
.image-columns p {
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	@media screen and (min-width: $small-width) {
		font-size: 24px;
		line-height: 32px;
		text-align: left;
	}
}

.image-columns .wrap > *:first-child {
	margin-top: 0;
	margin-bottom: 15px;
	@media screen and (min-width: $small-width) {
		margin-bottom: 20px;
	}
}


.image-columns .wrap h1 {
	font-size: 32px;
	line-height: 44px;
	letter-spacing: 0.4px;
	@media screen and (min-width: $small-width) {
		font-size: 40px;
		line-height: 53px;
		letter-spacing: 0.5px;
	}
}

.image-columns .wrap h2 {
	font-size: 29px;
	line-height: 40px;
	@media screen and (min-width: $small-width) {
		font-size: 34px;
		line-height: 50px;
	}
}

.image-columns video {
	max-width: 100%;
	display: block;
	height: auto;
	border-radius: 10px;
}

.image-columns .wp-block-buttons  {
	margin-top: 25px;
	@media screen and (min-width: $small-width) {
		margin-top: 60px;
	}
}

.image-columns.img-right .image-col {
	order: 1;
	@media screen and (min-width: $small-width) {
		order: 2;
	}
}

.image-columns.img-right .content-columns {
	order: 2;
	@media screen and (min-width: $small-width) {
		order: 1;
	}
}


.playing .custom-video-button {
	display: none;
}

.custom-video-button {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	background: url(img/play-button.svg) no-repeat center center  / 100%;
	text-indent: -10000px;
	border-radius: 0;
	border: none;
	z-index: 2;
	transform: translate(-50%, -50%);
	cursor: pointer;
	@media screen and (min-width: $small-width) {
		width: 100px;
		height: 100px;
	}
}