.wp-block.stat-callout, .stat-callout {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	padding-top: 3.25rem;
	padding-bottom: 3.25rem;
	@media screen and (min-width: $small-width) {
		padding-top: 6.125rem;
		padding-bottom: 6.125rem;
	}
}

.stat-callout .block-wrapper {
	max-width: $max-cont-w;
	margin: 0 auto;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	@media screen and (min-width: $small-width) {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}

.stat-callout .stat {
	flex: 0 100%;
	max-width: 100%;
	box-sizing: border-box;
	@media screen and (min-width: $small-width) {
		flex: 0 33.3333%;
		max-width: 33.3333%;
	}
}

.stat-callout .stat-description {
	flex: 0 100%;
	max-width: 100%;
	box-sizing: border-box;
	@media screen and (min-width: $small-width) {
		flex: 0 66.666667%;
		max-width: 66.666667%;
	}
}

.stat {
	background: $light-blue;
	border-radius: 10px;
	text-align: center;
	padding: 1.25rem;
}

.stat p {
	color: $bg-color-7;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	margin-top: 0;
	@media screen and (min-width: $small-width) {
		font-size: 20px;
		line-height: 31px;
	}
}

.stat-description {
	@media screen and (min-width: $small-width) {
		padding-left: 5rem;
	}
}


.wp-block.stat-callout .header-title {
	opacity: 1;
}

.stat-callout .header-title {
	opacity: 0;
}

.stat-callout .header-title.active {
	opacity: 1;
}

.stat-description p {
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.2px;
	@media screen and (min-width: $small-width) {
		font-size: 20px;
		line-height: 34px;
	}
}

.stat .header-title {
	font-size: 36px;
	line-height: 49px;
	color: $bg-color-7;
	font-weight: 700;
	margin-bottom: 0;
	@media screen and (min-width: $small-width) {
		font-size: 52px;
		line-height: 70px;
	}
}