.wp-block.cta {
	max-width: 100%;
	width: 100%;
}

.cta {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 45px;
	text-align: center;
	position: relative;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	@media screen and (min-width: $small-width) {
		padding-top: 80px;
		padding-bottom: 90px;
	}
}


.cta .content-footer p {
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	@media screen and (min-width: $small-width) {
		font-size: 18px;
		line-height: 29px;
	}
}

.editor-styles-wrapper .cta .wp-block-buttons {
	justify-content: center;
}

.cta .block-wrapper {
	max-width: 1120px;
	margin: 0 auto;
}

.cta .wp-block-buttons {
	max-width: 1120px;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin: 25 auto;
	justify-content: center;
	@media screen and (min-width: $small-width) {
		margin: 50px auto 0;
	}
}

.cta .header-title {
	text-transform: none;
	font-family: $font-head-2;
	font-size: 23px;
	line-height: 32px;
	margin-bottom: 0;
	@media screen and (min-width: $small-width) {
		font-size: 28px;
		line-height: 40px;
	}
}

.cta .content-footer p {
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	@media screen and (min-width: $small-width) {
		font-size: 22px;
		line-height: 34px;
	}
}