.single-member-alt a {
	text-decoration: none;
}

#gs_team_area_1 h3.gs-member-name {
	background: transparent;
	color: $head-color;
	text-transform: none;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 0;
	letter-spacing: 0.35px;
}

.single-member-alt h4.gs-member-desig-alt {
	margin-top: 0;
	font-weight: normal;
	font-size: 16px;
	color: $teal-blue;
}