.site-footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background: $bg-color-7;
	@media screen and (min-width: $small-width) {
		padding-top: 4.125rem;
		padding-bottom: 4.125rem;
	}
}

.site-footer .wrapper {
	max-width: 1350px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin: 0 auto;
}

.site-footer .custom-logo {
	max-width: 55%;
	margin: 0 auto 15px;
	@media screen and (min-width: $small-width) {
		max-width: 170px;
		margin: 0 0 15px;
	}
}

.site-footer .wrapper .col {
	width: 100%;
	margin-top: 2.5rem;
	@media screen and (min-width: $small-width) {
		flex: 0 calc(25% - 2.5rem);
		margin-top: 0;
		padding-right: 1.25rem;
		padding-left: 1.25rem;
	}
}

.site-footer .wrapper .col-locations {
	width: 100%;
	margin-top: 2.5rem;
	@media screen and (min-width: $small-width) {
		flex: 0 calc(75% - 2.5rem);
		margin-top: 0;
		padding-right: 1.25rem;
		padding-left: 1.25rem;
	}
}

.col-locations {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	list-style-type: none;
}

.site-footer .contact-col {
	display: block;
}

.site-footer .menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.site-footer .menu-tertiary-footer-container {
	width: 100%;
}

.site-footer .menu-tertiary-footer-container .menu {
	width: 100%;
}

ul.social {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-top: 15px;
	justify-content: center;
	@media screen and (min-width: $small-width) {
		justify-content: center;
		margin-top: 25px;
	}
}

ul.social a {
	font-size: 35px;
	text-decoration: none;
}

ul.social a:hover {
	color: $blue;
}

ul.social a:visited {
	color: white;
}

ul.social li {
	flex: 0 15%;
}

.site-footer .logo-columns {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

a.footer-home {
	width: 213px;
	height: 106px;
	display: block;
	text-indent: -10000px;
	margin: 0 auto;
	background: url(img/latitude-full-logo.svg) no-repeat center center / 100%;
	@media screen and (min-width: $small-width) {
		width: 213px;
		height: 106px;
	}
}

.site-footer .footer-links .menu,
.site-footer .footer-links .menu ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.site-footer .footer-links .menu li {
	width: 100%;
	text-align: center;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	@media screen and (min-width: $small-width) {
		width: calc(33.33333% - 2.5rem);
		padding-right: 1.25rem;
		padding-left: 1.25rem;
	}
}

.logo-columns .inner-col {
	flex: 0 50%;
}

.site-footer .col {
	text-align: center;
	@media screen and (min-width: $small-width) {
		text-align: center;
	}
}

.site-footer .menu {
 	padding: 0;
 	margin: 0;
 	list-style-type: none;
}

.site-footer .menu .sub-menu {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	list-style-type: none;
	margin-bottom: 15px;
	margin-top: 5px;
}

.site-footer .menu a {
	text-decoration: none;
	font-family: $font-body;
	font-size: 17px;
	line-height: 26px;
}

.site-footer .menu-item.menu-item-has-children a {
	font-weight: 700;
}

.site-footer .menu-item .sub-menu a {
	font-weight: 400;
}

.site-footer .menu ul a:hover {
	color: white;
	text-decoration: underline;
}

.site-footer .contact-link {
	display: block;
}

.site-footer p {
	font-family: $font-body;
	font-weight: 400;
	line-height: 25px;
	margin-top: 0;
	font-size: 16px;
	@media screen and (min-width: $small-width) {
		font-size: 17px;
		margin-top: 1rem;
	}
}

.site-footer address {
	font-style: normal;
	margin-bottom: 0;
	margin-top: 15px;
}

.site-footer address p {
	margin-bottom: 0;
	margin-top: 0;
}

.site-footer * {
	color: white;
}

.site-footer h4 {
	margin-top: 0;
	margin-bottom: 0;	
}

.site-footer .inner-col {
	flex: 0 calc(50% - 15px);
	@media screen and (min-width: $small-width) {
		flex: 0 50%;
	}
}

.footer-links {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	list-style-type: none;
	margin-top: 40px;
	border-top: 1px solid white;
	padding-top: 20px;
	@media screen and (min-width: $small-width) {
		padding-top: 20px;
		margin-top: 50px;
	}
}

.footer-links a {
	text-decoration: none;
	color: white;
	font-family: $font-head;
}

.site-footer .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-row-gap: initial;
    grid-column-gap: initial;
    gap: 15px 15px;
	@media screen and (min-width: $small-width) {
		grid-row-gap: 5px;
    	grid-column-gap: 20px;
    	display: grid;
	}
}

.site-footer address p,
.site-footer .contact-link,
.site-footer .menu-item a {
	color: white;
	font-weight: 400;
	text-decoration: none;
	font-family: $font-body;
	@media screen and (min-width: $med-small-width) {
		font-size: 15px;
		line-height: 25px;
	}
}