.locations {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	gap: 25px;
	@media screen and (min-width: $small-width) {
		gap: 55px;
	}
}

.locations .location {
	border: 2px solid $burnt-orange;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px 15px;
	flex-wrap: wrap;
	width: 100%;
	@media screen and (min-width: $small-width) {
		padding: 40px 20px;
		flex: 0 1 calc((100% - (2 * 55px)) / 3); 
	}
}

.locations .location a {
	text-decoration: none;
}

.locations address {
	font-style: normal;
	width: 100%;
}

 .location > p {
 	width: 100%;
 }

.locations .location p {
	margin-bottom: 15px;
	margin-top: 0;
	font-size: 18px;
	@media screen and (min-width: $small-width) {
		font-size: 24px;
		line-height: 27px;
	}
}

.locations .location p:last-of-type {
	margin-bottom: 25px;
}

h3.location-title {
	font-size: 18px;
	line-height: 23px;
	color: $burnt-orange;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 0;
	width: 100%;
	@media screen and (min-width: $small-width) {
		font-size: 24px;
		line-height: 27px;
	}
}

address.contact-info {
	border: 6px solid $light-blue;
	padding: 10px;
	@media screen and (min-width: $small-width) {
		padding: 15px 20px;
	}
}

address.contact-info a {
	text-decoration: none;
}

address.contact-info p {
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	font-family: $font-head;
	color: $bg-color-7;
	margin-bottom: 3px;
	margin-top: 3px;
	@media screen and (min-width: $small-width) {
		font-size: 24px;
		line-height: 30px;
	}
}