$font-head: 'gill_sanssemibold', sans-serif;
$font-head-black: 'gill_sansbold', sans-serif;
$font-head-alt: 'gill_sansbold', serif;
$font-body: 'gill_sansregular', sans-serif;
$font-body-light: 'gill_sanslight', sans-serif;

$head-color: #1B2C58;
$head-alt-color: #EEA320;
$bg-blue: $head-alt-color;
$bg-grey: #414042;
$border-color: #ECA239;
$orange: #EBA23A;
$bullet-color: #BE5B33;
$body-color: #000000;

$font-head-2: $font-head;

$border-color-2: #4d5057;
$bg-color-1: #3bc24a; // green
$bg-color-1: #3bc24a; // green
$bg-color-2: #F0F0F0; // grey
$bg-color-3: #3bc24a; // lime green
$bg-color-4: #4d4d4d; // dark grey
$bg-color-5: #F79A6C; // yellow
$bg-color-6: #ffffff; // white
$bg-color-7: #00304A; // blue
$tan: #F2EBDC;
$tan-2: #F2EBDB;
$navy: $bg-color-7;
$burnt-orange: #BF5B32;
$light-grey: #F4F4F4;
$dark-grey: #878787;
$light-blue: #E7F2F7;
$purple: #671C61;
$peach: #FDEFE8;
$button-color-1: #F8AE2B;
$head-color-2: $bg-color-3;
$teal-blue: #008FA0;
$blue-gradient: linear-gradient(to top, #29bcd1, #1c8f9e, #29bcd1);
$blue: #1C8F9E;
$yellow: #EDA321;

$med-width: 1200px;
$med-small-width: 1080px;
$small-med-width: 875px;
$small-width: 768px;
$form-width: 641px;
$xs-width: 480px;
$xx-width: 395px;

$wp-min-width: 600px;

$max-cont-w : 1680px;