.selected-case-studies,
.selected-case-studies.wp-block {
	max-width: 100%;
	width: 100%;
	padding-top: 4.125rem;
	padding-bottom: 4.125rem;
	@media screen and (min-width: $small-width) {
		padding-top: 6.75rem;
		padding-bottom: 6.75rem;
	}
}


.selected-case-studies .header {
	text-align: center;
	padding-bottom: 2rem;
	@media screen and (min-width: $small-width) {
		padding-bottom: 3.675rem;
	}
}

.selected-case-studies .block-wrapper {
	width: 100%;
	max-width: $max-cont-w;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	@media screen and (min-width: $small-width) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.case-studies-block .case-study {
	padding-top: 0;
	padding-bottom: 0;
	@media screen and (min-width: $small-width) {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.case-studies-block .swiper {
	overflow: hidden;
}

.case-studies-block .swiper-button-next {
	right: 15px;
}

.case-studies-block .swiper-button-prev {
	left: 15px;
}

.case-studies-block .case-study .wp-block-button {
	display: block;
}

.selected-case-studies + .selected-resources .resources-block {
	padding-top: 0;
	@media screen and (min-width: $small-width) {
		padding-top: 0;
	}
}

.wp-block.selected-case-studies .resources {
	display: flex;
	align-items: flex-wrap;
	overflow: auto;
}