.wp-block.selected-case-studies-grid {
	width: 100%;
	max-width: 100%;
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
	@media screen and (min-width: $small-width) {
		padding-top: 7.3125rem;
		padding-bottom: 7.3125rem;
	}
}

.resources-block .header {
	text-align: center;
	padding-bottom: 2rem;
	@media screen and (min-width: $small-width) {
		padding-bottom: 3.675rem;
	}
}

.resources-block .block-wrapper {
	width: 100%;
	max-width: $max-cont-w;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin: 0 auto;
	@media screen and (min-width: $small-width) {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}

.resources-block .resources-slides {
	position: relative;
	width: calc(100% - 4rem);
	margin-left: 2em;
	margin-right: 2rem;
	@media screen and (min-width: $small-width) {
		width: calc(100% - 5rem);
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
}

.resources-block .header-title {
	margin-top: 0;
}


.selected-case-studies-grid {
	margin-bottom: 2.5rem;
	padding-top: 4.25rem;
	padding-bottom: 4.25rem;
	@media screen and (min-width: $small-width) {
		margin-bottom: 3.15em;
		padding-top: 6.75rem;
		padding-bottom: 6.75rem;
	}
}

.selected-case-studies-grid:last-child {
	margin-bottom: 0;
	@media screen and (min-width: $small-width) {
		margin-bottom: 0;
	}
}

.selected-case-studies-grid header.section-header {
	padding-top: 0;
}

.selected-case-studies-grid .wp-block-buttons {
	justify-content: center;
	margin-top: 35px;
	@media screen and (min-width: $small-width) {
		margin-top: 50px;
	}
}

