.tab .header-title {
	text-align: center;
	border: none;
	font-size: 18px;
	line-height: 24px;
	font-family: $font-head;
	display: block;
	cursor: pointer;
	color: $burnt-orange;
	margin-bottom: 0;
	position: relative;
	@media screen and (min-width: $small-width) {
		font-size: 22px;
		padding-bottom: 5px;
		line-height: 27px;
	}
}

.tab .header-title:before {
	content: "";
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: 0;
	height: 0;
	position: absolute;
	background: $burnt-orange;
	transition-property: width;
	transition-duration: 0.65s;
}

.tab.active .header-title:before {
	width: 100%;
	height: 3px;
}

.tab {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin-bottom: 30px;
	@media screen and (min-width: $small-width) {
		margin-bottom: 55px;
	}
}

.tabs .header-intro-block {
	padding-bottom: 0;
}

.tabs .content-cols h3:first-of-type {
	margin-bottom: 0;
	margin-top: 0;
}

.tabs .tab-content.content-cols {
	display: block;
}

.tab-content.content-cols ul {
	column-count: 2;
	padding-left: 0;
	@media screen and (min-width: $small-width) {
		list-style-type: disc;
	}
}

.tab-content.content-cols ul li {
	margin-bottom: 0;
	list-style-type: none;
	break-inside: avoid;
	position: relative;
	padding-left: 20px;
	@media screen and (min-width: $small-width) {
		margin-right: 25px;
	}
}

.tab-content.content-cols ul li:before {
	content: "";
	background: $burnt-orange;
	border-radius: 7px;
	width: 7px;
	height: 7px;
	position: absolute;
	left: 0;
	top: 8px;
	display: inline-block;
}

.tabs .tab-container {
	padding-bottom: 1.25rem;
	box-sizing: border-box;
	order: 1;
	@media screen and (min-width: $small-width) {
		padding-bottom: 3.75rem;
	}
}

.tab + .tab-container {
	display: none;
}

.tab-container > .content-cols > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.tab.has-child-selected + .tab-container,
.tab.is-selected + .tab-container,
.tab.active + .tab-container {
	display: block;
}


.tabs .tab-container p + ul {
	margin-top: -14px;
	@media screen and (min-width: $small-width) {
		margin-top: -28px;
	}
}

.tabs .tab-container {
	text-align: center;
	@media screen and (min-width: $small-width) {
		text-align: left;
	}
}
.tab-content.content-cols ul li {
	text-align: left;
}

.tab-content.content-cols ul li,
.tabs .tab-container p {
	font-size: 18px;
	line-height: 24px;
	@media screen and (min-width: $small-width) {
		font-size: 24px;
		line-height: 32px;
	}
}

.tabs .wp-block-image img {
	width: 100%;
	position: relative;
}

.tabs .wp-block-image figcaption {
	display: none;
}

.tabs .wp-block-image {
	padding-right: 0;
	position: relative;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		margin-left: 15px;
		width: calc(50% - 15px);
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		margin-left: 20px;
		width: calc(50% - 20px);
	}
	@media screen and (min-width: $med-width) {
		margin-left: 36px;
		width: calc(50% - 36px);
	}
}

.tabs .wp-block-image:before {
	content: "";
	position: absolute;
	background: $light-blue;
	height: 100%;
	opacity: 0;
	transition-duration: 0.75s;
	transition-property: left, right, opacity;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		width: 100%;
		top: 15px;
		right: 0;
		left: inherit;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		width: 100%;
		top: 20px;
		right: 0;
		left: inherit;
	}
	@media screen and (min-width: $med-width) {
		width: 100%;
		top: 34px;
		left: inherit;
		right: 0;
	}
}

.tabs.animate-complete .wp-block-image:before {
	left: initial;
	opacity: 1;
	@media screen and (min-width: $small-width) and (max-width: $med-small-width) {
		right: 15px;
	}
	@media screen and (min-width: $med-small-width) and (max-width: $med-width) {
		right: 20px;
	}
	@media screen and (min-width: $med-width) {
		right: 34px;
	}
}

.tabs .tab-content {
	padding-left: 0;
	margin-top: 0;
	@media screen and (min-width: $small-width) {
		padding-left: 54px;
	}
}

.tabs .tab-content {
	width: 100%;
	box-sizing: border-box;
	@media screen and (min-width: $small-width) {
		width: 50%;
	}
}

.tabs + .selected-resources .resources-block {
	padding-top: 0;
	@media screen and (min-width: $small-width) {
		padding-top: 0;
	}
}
